*{box-sizing: border-box; margin: 0; padding: 0;}

:root{
    --background-notas: #ecedf1;
    --background-yellon: #f9d230;
    --tittle-yellow: #ffd300;
    --title: #000000;
    --title-white: #ffffff;
    --tittle-gray: #5D5D5D;
    --sub-tittle-gray: #818181;
    --tittle-dark-red: #ff4e3b;
    --tittle-green: #4CCDAF;
    --tittle-blue: #33BCFF;
    --text-white: #fff;
    --text-blue: #266ccd;
    --paragraph:#000;
    --paragraph-white: #fff;
    --paragraph-01: #0000;
    --paragraph-gray: #5D5D5D;
    --paragraph-blue: #4C92FF;
    --paragraph-yellow: #ffd300;
    --blue-gradient: linear-gradient(0deg,#959fff,#3f94ff);
    --green-gradient: linear-gradient(0deg,#81d8b0,#02bfae);
    --red-gradient: linear-gradient(0deg,#ff7260,#ff210e);
}

@font-face {font-family: CamphorProForXiaoMi-Regular; src: url(../css/fonts/CamphorProForXiaoMi-Regular.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Bold; font-weight: 700; src: url(../css/fonts/CamphorProForXiaoMi-Bold.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Thin; src: url(./fonts/CamphorProForXiaoMi-Thin.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Heavy; font-weight: 900; src: url(./fonts/CamphorProForXiaoMi-Heavy.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Medium; src: url(./fonts/CamphorProForXiaoMi-Medium.woff) format("woff")}

.f-heavy {font-family: CamphorProForXiaoMi-Heavy, sans-serif; font-weight: 900}
.f-regular {font-family: CamphorProForXiaoMi-Regular, sans-serif}
.f-light {font-family: CamphorProForXiaoMi-Light, sans-serif}
.f-bold {font-family: CamphorProForXiaoMi-Bold, sans-serif; font-weight: 700}
.f-medium {font-family: CamphorProForXiaoMi-Medium, sans-serif}
.f-thin {font-family: CamphorProForXiaoMi-Thin, sans-serif}

@media screen and (min-width:1024px) {main{display: none;}}

@media screen and (min-width:760px) and (max-width:1023px) {main{display: none;}}

@media screen  and (max-width:768px) {

    a:link {text-decoration: none;} 

    .root-xiaomi-smart-pet-fountain {overflow: hidden; width: 100%;}

    .main-title_xiaomi-smart-pet-fountain-01 {font-size: 1.8rem; color: var(--title); text-align: center; padding: 2rem 1rem 0.5rem 1rem;}
    .main-title_xiaomi-smart-pet-fountain-02 {font-size: 1.5rem; color: var(--title); text-align: center; padding: 0.5rem 1rem 0.5rem 1rem;}
    
    .sub-title_xiaomi-smart-pet-fountain-01 {font-size: 1rem; color: var(--title); line-height: 1.5rem; text-align: center; padding: 1rem;}
    .sub-title_xiaomi-smart-pet-fountain-01-01 {font-size: 1rem; color: var(--title); line-height: 1.5rem; text-align: center; padding: 0rem 1rem 0rem 1rem;}
    .sub-title_xiaomi-smart-pet-fountain-01-02 {font-size: 1rem; color: var(--title); line-height: 1.5rem; text-align: left; padding: 1rem 2rem 1rem 2rem;}
    .sub-title_xiaomi-smart-pet-fountain-02 {font-size: 1rem; color: var(--title); text-align: center; padding: 0.5rem;}
    .sub-title_xiaomi-smart-pet-fountain-03 {font-size: 1rem; color: var(--title-white); line-height: 1.5rem; text-align: center; padding: 1rem;}
   
    .sub-title_xiaomi-smart-pet-fountain-04 {font-size: 1rem; color: var(--title-white); text-align: left; margin: 2rem 4rem 1rem 3rem;}
    .sub-title_xiaomi-smart-pet-fountain-05 {font-size: 1rem; color: var(--title-white); text-align: left; margin: 0rem 4rem 0rem 3rem;}

    .sub-title_xiaomi-smart-pet-fountain-06 {font-size: 1rem; color: var(--title); text-align: center; padding-top: 0.5rem;}

    .sub-title_xiaomi-smart-pet-fountain-07 {font-size: 1rem; color: var(--title); text-align: center; padding: 0rem 1rem 0rem 1rem; max-width: 10rem;}

    .sub-title_xiaomi-smart-pet-fountain-08 {font-size: 1rem; color: var(--title); text-align: center; padding: 1rem;}

    .sub-title_xiaomi-smart-pet-fountain-grid-01 {font-size: 1rem; color: var(--title); text-align: center; padding: 0.5rem;}


    .title_xiaomi-smart-pet-fountain-01 {font-size: 2rem; color: var(--title); text-align: center; margin: 1rem 1rem 0rem 1rem;}
    .sub-title_xiaomi-smart-pet-fountain-02-01 {font-size: 1rem; color: var(--title); line-height: 1.5rem; text-align: center; margin: 1rem 1rem 0rem 1rem;}
    .text_xiaomi-smart-pet-fountain-01 {font-size: 1rem; color: var(--tittle-gray); line-height: 1.5rem; text-align: center; margin: 1rem 1rem 0rem 1rem;}

    .notes_xiaomi-smart-pet-fountain {font-size: 0.8rem; line-height: 1.6rem; color: var(--tittle-gray); text-align: left; padding: 0rem 1rem 1rem 1rem;} 
    .notes_xiaomi-smart-pet-fountain-01 {font-size: 0.8rem; color: var(--tittle-gray); text-align: center; padding: 0.5rem 2rem 1rem 13rem;} 

    /*==================================================== GRID ========================================================*/

    .grid_text {
        margin: 2rem;
    }

    .grid_icons-01 {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 1rem;
    }

    .grid_icons-02 {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .grid_text-01 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid_icon-text-01 {
        display: grid;
        justify-items: center;
        max-width: 7rem;
    }

    .grid_img-icon {
        border-width: 0.2rem;
        border-color: lightgray;
        border-style: solid;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        margin: 1rem;
    }

    .bg_img-center {
        display: grid;
        justify-items: center;
    }
     
    .bg_img-center-01 {
        margin: 1rem;
    }

    .bg_img-center-02 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .grid_icons-03 {
        display: flex;
        align-items: center;
        margin: 26rem 0rem 1rem 0rem;
        max-width: 25rem;
    }

    .grid_bg-02 {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-auto-columns: 1fr 1fr;
        margin: 2rem;
    }

    .grid_bg-03 {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-auto-columns: 1fr 1fr;
        margin: 2rem;
    }

    .grid_bg-02-text {
        display: flex;
        align-items: center;
    }

    .grid_img-icons {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        background-color: #F6F6F6;
        justify-content: center;
    }

    .grid_img-icons-01 {
        display: grid;
        align-content: center;
        margin: 1rem;
    }

    /*======================================================= LAYOUT =======================================================*/

    .bg_01 {
        padding: 2rem 1rem 2rem 1rem;
    }

    .bg_01-01 {
        padding: 2rem 1rem 2rem 1rem;
        background-color: #DADADA;
        width: 100%;
    }

    .bg_01-text {

    }

    .bg_01-gray {
        background-color: #F0F0F0;
    }

    .bg_02-gray {
        background-color: #F6F6F6;
        padding-bottom: 2rem;
    }

    .bg_03-gray {
        background-color: #F1F1F3;
        padding-bottom: 2rem;
    }

    .bg_02 {
        height: 42rem;
        background-image: url(../media/Overview_M1080_05.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .bg_03 {
        height: 8.5rem;
        background-image: url(../media/Overview_M1080_15_01.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        align-items: center;
        max-width: 10rem;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    .limit_01 {
        margin: 1rem 2rem 1rem 2rem;
        max-width: 24rem;
    }

    .bg_04-01 {
        height: 16rem;
        background-image: url(../media/Overview_M1080_19.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: grid;
        align-items: start;
        margin-bottom: 1rem;
    }

    .bg_04-02 {
        height: 16rem;
        background-image: url(../media/Overview_M1080_20.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: grid;
        align-items: start;
        margin-bottom: 1rem;
    }

    .bg_04-03 {
        height: 16rem;
        background-image: url(../media/Overview_M1080_21.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: grid;
        align-items: start;
        margin-bottom: 1rem;
    }

    .bg_04-04 {
        height: 18rem;
        background-image: url(../media/Overview_M1080_22.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: grid;
        align-items: start;
        margin-bottom: 1rem;
    }

    .bg_04-05 {
        height: 16rem;
        background-image: url(../media/Overview_M1080_23.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: grid;
        align-items: start;
    }

    .bg_05 {
        height: 20rem;
        background-image: url(../media/Overview_M1080_24.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
    }

}
